node_modules
altv-server
client-dist.js
server-dist.js
resources/webviews/assets/bundle.*
resources/webviews/assets/*.png
.vscode
*.dll
*.exe
*.so.*
start.bat
start.sh
update.json
modules/
/data/
*.log
cache/
crashdumps/
.env
fuel/
.idea
.gitconfig